body{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #191818;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
    position: relative;
}
.todo-app h2{
    color: #ffd700;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 50px;
    margin-left: 155px;
    
}
.todo-app h2 img{
    width: 40px;
    margin-left: 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #e13809;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    color: rgb(179, 178, 178);
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #606060;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #434446;
}
.todo-app::before , .todo-app::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 30px;
    background: linear-gradient(45deg , #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite; 
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.todo-app::after{
    filter: blur(15px);
}